.htab {
  nav {
    a {
      background: #f8f8f8;
      color: #999;
      display: inline-block;
      line-height: 30px;
      margin: 0;
      padding: 0 10px;
      border: 1px solid #eaeaea;
      border-bottom: none;
      &.active {
        background: #fff;
        border: 1px solid #eee;
        border-bottom: 0;
        color: #444;
      }
    }
  }
  .tab {
    display: none;
    padding: 20px;
    border: 1px solid #eee;
    border-top: none;
    background-color: white;
    &.active {
      display: block;
    }
  }
}
.vtab {
  nav {
    float: left;
    width: 20%;
    border: 1px solid #ccc;
    border-right: none;
    background-color: #f8f8f8;
    a {
      display: block;
      padding: 10px;
      border-top: 1px solid #ccc;
      color: #999;
      &:first-of-type {
        border-top: none;
      }
      &.active {
        background-color: white;
        color: #444;
      }
    }
  }
  .tabs {
    float: left;
    width: 70%;
    padding: 2%;
    border: 1px solid #ccc;
    border-left: none;
    background-color: white;
    .tab {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
