#configure-device {
  .empty {
    padding: 20px 10px;
    background-color: #fcfcfc;
    border: 1px dashed #ccc;
  }
}
#configure-loadbalancer {
  .virtualIpPeer {
    display:none;
    min-width:30%;
  }
  .protocol-port {
    select {
      min-width: 50%;
    }
    input {
      min-width: 50px !important;
      width: 10%;
    }
  }
}
#reconfigure-loadbalancer {
  #port {
    min-width: 20%;
    width: 20%;
  }
}
