body .association {
  #add {
    margin-bottom:6px;
    input {
      width:82%;
      margin:0;
    }
    .cta {
      width:12%;
      margin:0;
    }
  }
}
body .association.disabled {
  opacity: .5;
}
